<footer class="section-dark-bg main-footer text-center" th:fragment="footer">
    <div class="container">
        <p>&copy; <span th:text="${#dates.year(#dates.createNow())}">2024</span> Facultad de Ingeniería - UNJu. Todos los derechos reservados.</p>
        <p>Contacto: info@pizzeriaunju.com</p>
        <div class="mt-2">
            <a href="#"><i class="fab fa-facebook-f"></i> Facebook</a>
            <a href="#"><i class="fab fa-instagram"></i> Instagram</a>
            <a href="#"><i class="fab fa-twitter"></i> Twitter</a>
        </div>
    </div>
</footer>