<!DOCTYPE html>
<html lang="es" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
</head>
<body>
	<header class="text-bg-light text-center p-4" th:fragment="header">
		<h1>Facultad de Ingeniería - Gestion Pizzeria</h1>
		<p class="university-motto">“Flammam Tvam Hoc Foco Accende lat”</p>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark mt-3">
            <div class="container-fluid">
                <a class="navbar-brand" th:href="@{/}">Pizzeria App</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/customers/list}">Clientes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/pizzas/list}">Pizzas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/orders/list}">Órdenes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/orderitems/list}">Ítems de Orden</a>
                        </li>
                        </ul>
                </div>
            </div>
        </nav>
	</header>
</body>
</html>