<header class="section-dark-bg main-header text-center" th:fragment="header">
    <h1>Facultad de Ingeniería - Gestión Pizzería</h1>
    <p class="university-motto">“Flammam Tvam Hoc Foco Accende”</p>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mt-3">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/principal/home}">Pizzeria App</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarCustomersDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Clientes
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarCustomersDropdown">
                            <li><a class="dropdown-item" th:href="@{/customers/nuevo}">Agregar Cliente</a></li>
                            <li><a class="dropdown-item" th:href="@{/customers/lista}">Ver Clientes</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarPizzasDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Pizzas
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarPizzasDropdown">
                            <li><a class="dropdown-item" th:href="@{/pizzas/nuevo}">Agregar Pizza</a></li>
                            <li><a class="dropdown-item" th:href="@{/pizzas/lista}">Ver Pizzas</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarOrdersDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Órdenes
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarOrdersDropdown">
                            <li><a class="dropdown-item" th:href="@{/orders/nuevo}">Nueva Orden</a></li>
                            <li><a class="dropdown-item" th:href="@{/orders/lista}">Ver Órdenes</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>